//
    Created by jerominejournet on 07-04-15.

doctype html
html
    head(lang='en')
        meta(charset='UTF-8')
        link(type='text/css', rel='stylesheet', href='styles/style.css')
        script(type='application/javascript', src='/bower_components/prefixfree/prefixfree.min.js')
        link(type='text/css', rel='stylesheet', href='/bower_components/typicons/src/font/typicons.css', data-noprefix)
        title Magnet manager
    body
        header
            h1 Magnet manager
        main
            input#nav-visible.nav-visible(type='checkbox', autocomplete='off')
            nav.nav-container
                label.nav-label(for='nav-visible') Menu
                    span.typcn.typcn-arrow-sorted-down.nav-not-displayed
                    span.typcn.typcn-arrow-sorted-up.nav-displayed
                ul.nav-list
                    li.nav-item
                        a.nav-link(href='#') Home
                    li.nav-item
                        a.nav-link.data-link(href='#', data-url='/recent') Recent
                    li.nav-item
                        a.nav-link.data-link(href='#', data-url='/top') Top Trends
                    li.nav-item
                        a.nav-link(href='#') Categories
                ul.nav-list
                    li.nav-item
                        a.nav-link(href='#') Sign in
                    li.nav-item
                        a.nav-link.nav-link-mod(href='#') Sign up
            section.content
                h2.content-title Recent
                .article-list
                    each val, index in movies
                        input.article-visible(id='article' + index, type='checkbox', name='more', autocomplete='off')
                        .article-item
                            label.article-label(for='article' + index)
                            article.article
                                .article-header
                                    h4.article-title= val.title
                                    time.article-year= val.year
                                img.article-picture(src= val.medium_cover_image)
                                p.article-synopsis
            section.aside
                article.menu
                    h4.menu-title Popular
                    ul
                        li
                            a.button.button-link(href='#') Cum equiso messis
                        li
                            a.button.button-link(href='#') Cur zirbus studere
                        li
                            a.button.button-link(href='#') Cum tabes crescere
                        li
                            a.button.button-link(href='#') Messis interdum
                article.menu
                    h4.menu-title Categories
                    ul
                        li
                            a.button.button-link(href='#') Lorem Ipsum
                        li
                            a.button.button-link(href='#') Dolor sit amet
                        li
                            a.button.button-link(href='#') Consectetur adipiscing
                        li
                            a.button.button-link(href='#') Nullam nisi
        script(type='application/javascript', src='/bower_components/microajax/microajax.minified.js')
        script(type='application/javascript', src='/scripts/script.js')