* {
    box-sizing: border-box;
}

.color-primary-0 { color: #AA6239 }	/* Main Primary color */
.color-primary-1 { color: #F55800 }
.color-primary-2 { color: #CF4B00 }
.color-primary-3 { color: #858585 }
.color-primary-4 { color: #5F5F5F }

.color-complement-0 { color: #256F5B }	/* Main Complement color */
.color-complement-1 { color: #00A074 }
.color-complement-2 { color: #008862 }
.color-complement-3 { color: #3A574F }
.color-complement-4 { color: #3E3E3E }


html {
    background-color: #858585;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

header {
    text-align: center;
    color: #F55800;
    text-shadow: 1px 1px 1px #CF4B00;
}

main {
    width: 1000px;
    margin: auto
}

a.button-link {
    position: relative;
    display: block;
    color: black;
    text-decoration: none;
}

.button {
    transition: background-color 0.3s;
}

/* Navigation-related classes */

.nav-visible {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.nav-container {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: space-between;

    overflow: hidden;
    min-height: 2.5rem;
    background-color: #5F5F5F;
}

.nav-container > .nav-label {
    display: none;
    line-height: 2.5rem;
    padding: 0 0.6875rem 0;
    cursor: pointer;
    color: #F55800;
    text-align: right;
    transition: color .3s, background-color .3s;
}

.nav-container > .nav-label:hover {
    color: #000000;
    background-color: #F55800;
}

.nav-visible:not(:checked) + .nav-container > .nav-label > .nav-displayed {
    display: none;
}

.nav-visible:checked + .nav-container > .nav-label > .nav-not-displayed {
    display: none;
}

.nav-container > .nav-list {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    align-items: stretch;
    justify-content: flex-start;

    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-list > .nav-item {
    line-height: 2.5rem;
    transition: max-height .3s;
}

.nav-item > .nav-link {
    padding: 0.6875rem 0.6875rem 0.75rem;
    cursor: pointer;
    color: #F55800;
    text-decoration: none;
    transition: background-color .3s, color .3s;
}

.nav-item > .nav-link:hover {
    color: #000000;
    background-color: #F55800;
}

.nav-item > .nav-link:active {
    color: #5F5F5F;
    background-color: #CF4B00;
}

.nav-link.nav-link-mod {
    color: #000000;
    background-color: #00A074;
}

.nav-link.nav-link-mod:hover {
    color: #000000;
    background-color: #008862;
}

.nav-link.nav-link-mod:active {
    color: #00A074;
    background-color: #3A574F;
}

/* End of navigation-related classes */

section {
    position: relative;
    display: block;
}

.content {
    float: left;
    width: 70%;
}

.content > .content-title {
    margin-bottom: 10px;
}

/* Article-related classes */

.article-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;

    list-style-type: none;

    margin-top: 0;
    padding-left: 0;
}

.article-list > .article-visible {
    display: none;
    visibility: hidden;
    opacity: 0;
}

.article-list > .article-item {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 200px;

    margin-bottom: 10px;

    transition: width .3s;
}

.article-list > .article-visible:not(:checked) + .article-item {
    width: 33%;
}

.article-list > .article-visible:checked + .article-item {
    width: 100%;
    order: -1;
}

.article-item > .article-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: box-shadow .3s;
}

.article-list > .article-visible:checked + .article-item > .article-label {
    /*z-index: -1*/
}

.article-list > .article-visible:checked + .article-item,
.article-item > .article-label:hover {
    box-shadow: 0 0 3px 2px #5F5F5F;
}

.article-item > .article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;

    flex: 1;

    overflow: hidden;
    width: 100%;
    padding: 10px;

    transition: background-color .3s;
}

.article > .article-header {
    width: 100%;
    margin-bottom: 5px;
}

.article-header > .article-title {
    display: inline;
    margin: 0;
}

.article-header > .article-year {
    color: #F55800;
    text-shadow: 1px 1px 1px #CF4B00;
}

.article > .article-picture {
    max-width: 300px;

    transition: width .3s;
}

.-webkit- .article > .article-picture {
    height: 100%;
}

.-moz- .article > .article-picture,
.-o- .article > .article-picture {
    height: auto;
    max-height: 450px;
}

.article-list > .article-visible:checked + .article-item > .article > .article-picture {
    width: 50%;
}

.article-list > .article-visible:not(:checked) + .article-item > .article > .article-picture {
    width: 100%;
}

.article > .article-synopsis {
    text-align: justify;
    transition: opacity .3s .3s, max-height .3s .3s;
}

.article-list > .article-visible:not(:checked) + .article-item > .article > .article-synopsis {
    visibility: collapse;
    width: 0;
    opacity: 0;
    max-height: 0;
    transition: max-height;
 }

.article-list > .article-visible:checked + .article-item > .article > .article-synopsis {
    visibility: visible;
    width: 50%;
    opacity: 1;
    max-height: 100%;
}

/* End of article-related classes */

.aside {
    float: right;
    right: 0;
    width: 25%;
}

.aside > .menu {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin-bottom: 10px
}

.menu > .menu-title {
    text-align: center;
    margin: 0;
    padding: 5px 0;
}

.menu > ul {
    position: relative;
    display: block;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.menu > ul > li {
    position: relative;
    display: block;
    border-top: 1px solid #c4c4c4;
}

.menu > ul > li > a {
    padding: 5px;
}

.menu > ul > li > a:hover {
    background-color: #c4c4c4;
}

@media (max-width: 1024px) {
    main {
        width: 100%;
    }

    .aside {
        display: none;
    }

    .content {
        float: none;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .nav-visible:not(:checked) + .nav-container {

    }

    .nav-container {
        flex-flow: column nowrap;
    }

    .nav-container > .nav-label {
        display: block;
    }

    .nav-container > .nav-list {
        flex-flow: column nowrap;
    }

    .nav-visible:not(:checked) + .nav-container > .nav-list > .nav-item {
        max-height: 0;
    }

    .nav-visible:checked + .nav-container > .nav-list > .nav-item {
        max-height: 2.5rem;
    }

    .nav-item > .nav-link {
        display: block;
        padding: 0 0.6875rem 0;
        width: 100%;
    }

    .article-list > .article-item {
        flex: 1 1 auto;
    }
}